$color-negro: #000000;
$gradiant-little: linear-gradient(to bottom, #48f091, #0c86f0);
$gradiant-big: linear-gradient(to bottom, #37d080, #0b75d0);
$shadow: 1px 2px 5px 0;
$gris-3: #333333;
$gris-9: #999999;
$color-letra: #dddddd;
$borde-verde: #48f091;
$borde-azul: #0c86f0;
$borde-violeta: #570566;